extends layout

block content
  h1= title
  table
    tr
    each field in fields
      th= field.name
    each row in rows
      tr
        each field in fields
          td= field.name == 'date' ? moment(row[field.name]).format('YY-MM-DD') : row[field.name]





